@import url('./inter.css');
@import url('./fontawesome.css');
@import url('./light.css');

:root {
  --scroll-color: #1c1c1cb2;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
  border: 1px solid var(--scroll-color);
}
